body{
    font-family:'Quicksand',sans-serif;
    margin: 0;
}
header{
    display: flex;
    /* background-color: rgb(32, 207, 207); */
    flex-direction: row;
    justify-content: space-around;
}
/* #page-logo{ */
    /* background-color: rgb(7,83,93); */
/* } */
#page-logo a{
    padding: 10px;
    color: rgb(245, 243,160);
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow: 3px 3px 3px rgb(0,0,0);

}
nav{
    
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    align-items: center;
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav ul a{
    text-decoration: none;
}
nav ul li{
    margin-left:30px ;
}
/* hero */
#hero{
    height: 800px;
    background-image: url();
}
footer i{
    color: chocolate;
    font-size: 60px;
    margin: 0 auto;
}